.vs
.idea
Library
ProjectSettings
capture*
*.sample
Temp
/Assets/XLua/Gen
/Assets/XLua/Gen.meta
Assets/StreamingAssets.meta
Assets/StreamingAssets/
Assets/xLuaTest.meta
Assets/xLuaTest/
*.csproj
*.sln
/build/build*
UnityVS
/Assets/UnityVS.meta
.DS_Store
*.o
/build/*/*.a

ToLua/Assets/Source/Generate/*Wrap*
ToLua/Assets/Source/Generate/*Wrap*
LuaDeepProfilerSettings.config
obj
Packages
manifest.json
/SLua/Assets/Slua/LuaObject.meta
/SLua/Assets/Slua/LuaObject
/XLua/Assets/XLua/Gen.meta
/XLua/Assets/XLua/Gen
/XLua/XLua.userprefs

/SLua/Assets/LuaProfiler
/SLua/Assets/LuaProfiler.meta
/ToLua/Assets/LuaProfiler
/ToLua/Assets/LuaProfiler.meta
/XLua/Assets/LuaProfiler
/XLua/Assets/LuaProfiler.meta
