.vs
.idea
Library
ProjectSettings
capture*
*.sample
Temp
/Assets/XLua/Gen
/Assets/XLua/Gen.meta
Assets/StreamingAssets.meta
Assets/StreamingAssets/
Assets/xLuaTest.meta
Assets/xLuaTest/
/build/build*
UnityVS
/Assets/UnityVS.meta
.DS_Store
*.o
/build/*/*.a

obj
bin
Packages
manifest.json

/LuaProfiler/LuaProfilerClient/Resources

/Server
/LuaProfiler/LuaProfilerServer/*.userprefs
/LuaProfiler/LuaProfilerServer/Assets/Diff.meta
/LuaProfiler/LuaProfilerServer/Assets/Diff
/LuaProfiler/LuaProfilerServer/Diff
/LuaProfiler/LuaProfilerServer/Ref
/LuaProfiler/Tools/mikuhook_runtime/.vscode
LuaDeepProfilerSettings.config
LuaDeepProfilerAssetSetting.asset
LuaDeepProfilerAssetSetting.asset.meta
LuaDeepProfilerSetting.asset
LuaDeepProfilerSetting.asset.meta
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
