.vs
.idea
Library
ProjectSettings
captures
*.sample
Temp
/Assets/XLua/Gen
/Assets/XLua/Gen.meta
Assets/StreamingAssets.meta
Assets/StreamingAssets/
Assets/xLuaTest.meta
Assets/xLuaTest/
*.csproj
*.sln
/build/build*
UnityVS
/Assets/UnityVS.meta
.DS_Store
*.o
/build/*/*.a

ToLua/Assets/Source/Generate/*Wrap*
ToLua/Assets/Source/Generate/*Wrap*
/Assets/LuaDeepProfilerSettings.asset
/Assets/LuaDeepProfilerSettings.asset.meta
obj
Packages
manifest.json
/SLua/Assets/Slua/LuaObject.meta
/SLua/Assets/Slua/LuaObject
/XLua/Assets/XLua/Gen.meta
/XLua/Assets/XLua/Gen
/XLua/XLua.userprefs
